*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.kotlin/
.DS_Store
/build
# Release binaries — jangan masuk ke git
*.apk
*.aab
*.dm
app/release/
release
/captures
.externalNativeBuild
.cxx
local.properties
*.json
